<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="github.com/Azure" value="https://nuget.pkg.github.com/Azure/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github.com_x002F_Azure>
        <add key="Username" value="" />
        <add key="ClearTextPassword" value="" />
      </github.com_x002F_Azure>
  </packageSourceCredentials>
</configuration>